body {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(../Countdown-App/assets/pexels-ivan-khmelyuk-7222009.mp4);
}

h1 {
	padding-top: 10px;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h1text {
	font-weight: bold;
	font-size: 3rem;
}

h2 {
	font-size: 1rem;
	font-weight: 800;
}

p {
	font-size: 2rem;
	font-weight: 600;
}

.countdown-app {
	padding-top: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

daysContainer {
	font-size: 2.5rem;
	font-weight: bold;
}

.myVideo {
	position: absolute;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
